#google-logo {
    position:relative;
    top: 250px;
}
#google-logo img {
    display: block;
    margin: auto;
}
#search-bar {
    position: relative;
    top: 270px
}
#search-bar form #search {
    width: 600px;
    padding: 15px;
    border-radius:50px;
    border-width: 1px;
    font-size: 20px;
    display: block;
    margin: auto;
    border-color:darkgrey
}
input:hover:not(.sub) {
    box-shadow: 5px 5px 10px rgb(134, 134, 134);
}
#nav-bar {
    position: relative;
    bottom: 230px;
    overflow: hideen;
}
li {
    display: inline;
    margin: 7px;
}
a {
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-size: 17px;
}
a:hover:not(#sign-in) {
    text-decoration: underline;
}
.right {
    float: right;
}
#sign-in {
    background-color: rgb(45, 158, 250);
    color: white;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
}
#sign-in:hover {
    background-color: rgb(17, 0, 255);
}
.sub {
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 14px;
    color: grey;
}
#subs {
    text-align: center;
}


